html {
    scroll-behavior: smooth;
}
body {
    font-family: "Nunito Sans", sans-serif;
}

:root {
    --classic-button: red;
    --white-button: white;
    --transparent-button: transparent;
    --gray-text: #6A6A6A;
    --service-text: #B2B2B2;
}

* {
    box-sizing: border-box;
}

.header-con {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
}
.logo {
    margin-left: 140px;
    text-align: left;
    font: normal normal 800 35px/47px Nunito Sans;
    opacity: 1;
    display: flex;
    align-items: center;
    color: var(--classic-button)
}

.logo span:last-child {
    margin-left: 5px;
    color: var(--white-button);
}


.navi ul {
    display: flex;
    margin-right: 140px;
    text-align: left;
    font: normal normal bold 16px/22px Nunito Sans;
}
.navi ul li {
    padding: 34px 40px;
}
.navi ul li a {
    text-decoration: none;
    color: #FFFFFF;
}
.navi ul li:hover {
    background-color: rgba(199, 184, 184, 0.3);
}

.banner-overlay {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.7);
}

.banner {
    position: relative;
    height: 100vh;
    background-image: url("../assets/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1088px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.banner-title {
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    font: normal normal 900 90px/90px Nunito Sans;
    color: #FFFFFF;
    text-shadow: 0 3px 6px #00000040;
    opacity: 1;
}

.banner-text {
    text-align: center;
    font: normal normal bold 16px/22px Nunito Sans;
    color: #FFFFFF;
    opacity: 1;
    margin: 10px 0 54px 0;
}

.banner-buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.buttony {
    border-radius: 40px;
    padding: 22px 55px 22px 55px;
    text-transform: uppercase;
    border: 0;
    text-decoration: none;
    font: normal normal bold 16px/22px Nunito Sans;
}

.button-red {
    background-color: var(--classic-button);
    color: var(--white-button)
}

.button-red:hover {
    background-color: var(--white-button);
    color: var(--classic-button);
}

.button-white {
    background-color: var(--white-button);
    color: var(--classic-button);
}

.button-white:hover {
    background-color: var(--classic-button);
    color: var(--white-button)
}

.arrow {
    position:absolute;
    bottom:-22px;
    background: var(--classic-button);
    border-radius: 50%;
    height: 55px;
    width:55px;
    border:0;
    justify-content: center;
}

/* BLOG*/



.title {
    font: normal normal bold 35px/47px Nunito Sans;
    text-transform: uppercase;
    margin: 91px 10px 35px 10px;
    position: relative;
}
.title::before, .title::after {
    content: "";
    background: #FF0000 no-repeat padding-box;
    width: 50px;
    height: 3px;
    box-shadow: 0px 1px 6px #FF00004D;
    border-radius: 8px;
    position: absolute;
}
.title::before {
    left: -60px;
    top: 21px;
}
.title::after {
    right: -60px;
    top: 21px;
}

.blog-body {
    display: flex;
    gap: 16px;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.blog-body-title {
    text-align: left;
    font: normal normal normal 19px/26px Nunito Sans;
    color: var(--gray-text);
    margin: 25px 0 15px 0;
}
.blog-body-text {
    text-align: left;
    font: normal normal 300 14px/19px Open Sans;
    color: var(--gray-text);
    margin-bottom: 26px;
}

.blog .button-red {
    box-sizing: border-box;
    padding: 11px 29px;
    font: normal normal bold 14px/19px Nunito Sans;
}

/* SERVICE */

.service {
    background:#28272C;
}

.service .title {
    margin: 60px 0 75px 0;
    color: var(--white-button)
}

.service-body {
    display: flex;
    gap: 45px;
    box-sizing: border-box;
    margin-bottom: 100px;

}
.service-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.service-body-title {
    text-transform: uppercase;
    text-align: left;
    font: normal normal normal 19px/26px Nunito Sans;
    color: var(--service-text);
    margin: 25px 0 15px 0;
    justify-content: space-between;
    align-items: center;
}
.service-body-text {
    text-align: center;
    font: normal normal normal 14px/19px Open Sans;
    color: var(--service-text);
    margin-bottom: 26px;
}

.service .button-red {
    box-sizing: border-box;
    padding: 11px 29px;
    font: normal normal bold 14px/19px Nunito Sans;
}

/*CONTACT*/

.contact .title {
    margin: 60px 0 75px 0;
    color: var(--white-button)
}

.contact-body {
    display: flex;
    gap: 45px;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-img {
    left: 231px;
    width: 444px;
    height: 317px;
}
.contact-form #name, #email, #message, .check {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 444px;
}
.check {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    padding: 10px 0 0 0;
}



